<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.balanceddiet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".collocationActivity"
            android:label="食物搭配表"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".recipesActivity"
            android:label="食谱检索站"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".shopActivity"
            android:label="购物商城"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".settingActivity"
            android:label="设置"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".list"></activity>
        <activity android:name=".FoodInfo"></activity>
    </application>

</manifest>